@page "/fetchdata"
@using LittleHelpBookApp.Shared
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <MBDataTable Items="@forecasts"
                 Context="item"
                 class="my-data-table">
        <TableHeader>
            <th class="mdc-data-table__header-cell header-bold" role="columnheader" scope="col">Date</th>
            <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric header-bold" role="columnheader" scope="col">Temp. (C)</th>
            <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric header-bold" role="columnheader" scope="col">Temp. (F)</th>
            <th class="mdc-data-table__header-cell header-bold" role="columnheader" scope="col">Summary</th>
        </TableHeader>
        <TableRow>
            <td class="mdc-data-table__cell">@item.Date.ToShortDateString()</td>
            <td class="mdc-data-table__cell mdc-data-table__cell--numeric">@item.TemperatureC</td>
            <td class="mdc-data-table__cell mdc-data-table__cell--numeric">@item.TemperatureF</td>
            <td class="mdc-data-table__cell">@item.Summary</td>
        </TableRow>
    </MBDataTable>

}

@code {
    private WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast");
    }

}
