@inherits LayoutComponentBase

@inject IMBAnimatedNavigationManager AnimatedNavigationService
@inject IJSRuntime JsRuntime

<MBDrawer @ref="@Drawer"
          IsDismissible="true">

    <div class="mdc-list">
        <MBListItem LeadingIcon="home" Label="Home" @onclick="@(()=>ListItemClickHandler(""))" />
        <MBListItem LeadingIcon="note_add" Label="Counter" @onclick="@(()=>ListItemClickHandler("Counter"))" />
        <MBListItem LeadingIcon="table_chart" Label="Fetch data" @onclick="@(()=>ListItemClickHandler("FetchData"))" />
    </div>
</MBDrawer>

<div class="mdc-drawer-app-content">
    <MBTopAppBar Title="Little Help Book"
                 @onclick="@SideBarToggle"
                 NavIcon="menu"
                 ScrollTarget="#main-content"
                 TopAppBarType="@MBTopAppBarType.Short"
                 class="mdc-top-app-bar--short-has-action-item mdc-elevation--z5">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
            <MBIconButton @onclick="@OpenMenuAsync" Icon="more_vert" />
            <div class="mdc-menu-surface--anchor">
                <MBMenu @ref="Menu">
                    <MBMenuSelectionGroup @key="@Select">
                        <MBListItem Label="One" LeadingIcon="done" IsSelectedMenuItem="@(Select == "one")" @onclick="@(() => MenuSelectedAsync("one"))" />
                        <MBListItem Label="Two" LeadingIcon="done" IsSelectedMenuItem="@(Select == "two")" @onclick="@(() => MenuSelectedAsync("two"))" />
                        <MBListItem Label="Three" LeadingIcon="done" IsSelectedMenuItem="@(Select == "three")" @onclick="@(() => MenuSelectedAsync("three"))" />

                    </MBMenuSelectionGroup>
                </MBMenu>
            </div>
        </section>
    </MBTopAppBar>

    <main class="main-content" id="main-content">
        <div class="max-width-content">
            <MBAnimatedNavigation>
                <div class="mdc-top-app-bar--dense-fixed-adjust">
                    <div class="main-content">
                        @Body
                    </div>
                </div>
            </MBAnimatedNavigation>
        </div>
    </main>
</div>

@code {
    private const string materialDocRef = "https://github.com/material-components/material-components-web/tree/master/packages/";

    private MBDrawer Drawer { get; set; }

    private MBMenu Menu { get; set; }

    private string Select { get; set; } = "one";

    private async Task OpenMenuAsync()
    {
        await Menu.ToggleAsync();
    }

    protected async Task MenuSelectedAsync(string selected)
    {
        Select = selected;
        StateHasChanged();
    }


    private void ListItemClickHandler(string page)
    {
        Drawer.NotifyNavigation();
        AnimatedNavigationService.NavigateTo(page);
    }

    private void SideBarToggle()
    {
        Drawer.Toggle();
    }
}